


<%- include("partials/header.ejs") %>


<div class="wrapper">

    <a href="/search-page"> <h2>Review a new book</h2> </a>
    


    <div class="reviewed-books">

        <h2>Books Bub has reviewed: </h2>

        <div class="books-container">

            <!-- These are the books reviewed from the database. -->
            <% if (locals.books) { %>
                <% books.forEach(book => { %>
                    <div class="book">
                        <!-- Image of the book that links to the review page. -->
                        <a href="/view/<%= book.id %>"><img src= <%= book.cover_url %> alt="book image"></a>

                        <h3> <%= book.title %> </h3>
                        <p>Rating: <%= book.rating %> </p>
                    </div>
                <% }) %>
        
            <!-- There are no books reviewed in the database. -->
            <% } else { %>
                <p>There are no books </p>
            <% } %>

        </div>



    </div>
    <!-- End of .reviewed-books -->
    
</div>
