
<%- include("partials/header.ejs") %>

<div class="wrapper">

<h2>Book Search</h2>

<form action="/search" method="get">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" placeholder="Enter book title">
    <button type="submit">Search</button>
</form>

<!-- Search results message.  -->
<% if (locals.title) { %>
    <p>Showing results for <strong> <%= title %> </strong> </p>
<% } %>

<!-- Show all of the books the client searched for.  -->
<div class="books-container">
    <% if (locals.books) { %>
        <% books.forEach(book => { %>
            <div class="book">
                <a href="/review/<%= book.isbn %>"><img src= <%= book.cover_url %> alt="book image"></a>
                <h3> <%= book.title %> </h3>
            </div>
        <% }) %>
    <% } else if (locals.err) { %>
    <!-- End of looping through books -->
        <p>Sorry! Book not found. </p>
    <% } %>
    

</div>
<!-- End of .books-container -->

</div>
<!-- End of .wrapper -->