<!-- Display a single book review here -->

<%- include("partials/header.ejs") %>


<div class="wrapper">

    <!-- Review exists, show review -->
    <% if (locals.book) { %>
        <div class="view-container">
            <div class="left-col">
                <h3> <%= book.title %> </h3>
                <img src= <%= book.cover_url %> alt="book image">
                <p class="rating">Rating: <%= book.rating %>% </p>

                <div class="cta-buttons">
                    <a class="edit-cta" href="/modify/<%= book.id %>">Edit</a>
                    <a class="delete-cta" href="/delete/<%= book.id %>">Delete</a>
                </div>

                
            </div>

            <div class="right-col">
                <p> <%= book.review %> </p>
            </div>
        </div>


    <!-- Review doesn't exist -->
    <% } else { %>
        <p> Failed to get book. Sorry. 404 error. </p>
    <% } %>
    
</div>

<%- include("partials/footer.ejs") %>
