<!-- Display a single book review here -->

<%- include("partials/header.ejs") %>


<div class="wrapper">
    <h1>This is a book bub has reviewed </h1>


    <!-- Review exists, show review -->
    <% if (locals.book) { %>
        <div class="view-container">
            <div class="left-col">
                <img src= <%= book.cover_url %> alt="book image">
                <h3> <%= book.title %> </h3>
                <p>Rating: <%= book.rating %> </p>

                <a href="/modify/<%= book.id %>">Edit</a>
                <a href="/delete/<%= book.id %>">Delete</a>
            </div>

            <div class="right-col">
                <p> <%= book.review %> </p>
            </div>
        </div>


    <!-- Review doesn't exist -->
    <% } else { %>
        <p> Failed to get book. Sorry. 404 error. </p>
    <% } %>
    
</div>